h1{
    color: #fff7f7
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
    color : #865fc1
    font-family: verdana, sans-serif;

}
body{
    background-color: #e5c7ff;
}
header{
    color background-color:  f1efe9;
    color: #f1efe9;
    text-align:     center;    
    padding: 10px;
}