h1{
    color: #fff7f7
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
    color : #865fc1
    font-family: verdana, sans-serif;

}
body{
    background-color: #f9adad;
}
header{
    background-color: #feffd4;
    color: #f1efe9;
    text-align:     center;    
    padding: 10px;
}